table {
 margin-left: auto;
 margin-right: auto;

}

td {
 width:100px;
 font-size:20px;
 background-color: white;
 border-radius: 10px;
}

tr {
 height:100px;
}

button:hover{
 background-color:whitesmoke ;
 color: black;
}

button {
  height: 90px;
  width: 90px;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  font-size: 40px;
  font-family: Digital;
  border-radius: 50px;
}

#zero {
  width: 192px;
  background-color: #505050;
  color: white;
}

.numButton {
  background-color: #505050;
  color: white;
}

.operationButton {
  background-color: #FF9500;
}

#display {
  height: 90px;
  border: 2px solid black;
  padding: 0px 50px;
  font-size: 40px;
  text-align: center;
}

.decimalPoint {
  background-color: #505050;
  color: white;
}

#calc_frame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: blue;
  padding: 20px;
  border-radius: 6px;
}

#textview {
  width: 370px;
  height: 50px;
  font-size: 25px;
  margin: 1px;
}
