table {
 margin-left: auto;
 margin-right: auto;
 border: solid black;
 background-color: black;


}

td {
 width:100px;
 font-size:20px;
 background-color: white;
 border-radius: 10px;
}

tr {
 height:100px;
}

button:hover{
 background-color:whitesmoke ;
 color: black;
}

button {
  height: 90px;
  width: 90px;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  font-size: 40px;
  font-family: Digital;
  border-radius: 50px;
}



.numButton {
  background-color: #505050;
  color: white;
}

.operationButton {
  background-color: #FF9500;
}

.decimalPoint {
  background-color: #505050;
  color: white;
}

.calculator {
 width: 30px;
 height: 10px;
}

input {
  width: 400px;
  height: 90px;
  font-size: 50px;
  margin-top: -40px;
  margin-left: 5px;
  border-radius: 30px;
  text-align: center;
}

body {
 background-color: black;
}
